@media (max-width: 480px) {
  .center {
    margin: 5px 0px 5px 10px;
  }
  .box_img {
    background: none;
    width: 24%;
  }
  .section {
    padding-left: 8px;
    width: 98%;
    background-image: url("img/phone.png");
    background-size: cover;
    &_title {
      font-size: 38px;
    }
  }
  .center_section {
    justify-content: center;
    gap: 30px;
  }
  .head {
    justify-content: space-around;
  }
  .pay_button_mob {
    position: fixed;
    display: flex;
    width: 145px;
    height: 54px;
    padding: 0px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    border-radius: 8px 0px 0px 8px;
    border: 1px solid var(---Primary-100, $colorButton);
    background: var(---Primary-100, $colorButton);
    color: var(--text-icon-100, #fff);
    font-family: $fontText;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
  }
  .top {
    justify-content: flex-start;
    gap: 48px;
  }
  .pay_button {
    display: none;
  }
}
